
$con1:rgb(0,103,102);
$con2:rgb(234,114,61);
$con3:white;
$con4:black;


$color1: var(--primary-color);
$color2:var(--secondary-color);
$bg1:var(--bg1);
$bg2:var(--bg2);
$bx-color:var(--bx-color);
$lkc:var(--lkc);
$cg:var(--cg);
$cg2:var(--cg2);
$mainh:var(--mainh);
$mainh2:var(--mainh2);
$hd:var(--hd);
$txt1:var(--hd);
$bgwhite:var(--bgwhite);
$spbg:var(--spbg);
$nbg:var(--nbg);
$bgt:var(--bgt);
$h:var(--h);
$bg-1:var(--bg-1);
$b-db:var(--bdb);
$ttbg:var(--ttbg);
$nbg:var(--nbg);
$nbg2:var(--nbg2);
$lst:var(--lst);
$chg:var(--chg);